
@model StaffListViewModel



<h1>Сотрудники</h1>

<table border="1">
    <thead>
        <tr align="center">
            <th>
                №
            </th>
            <th>
                ФИО
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Дата трудоустройства
            </th>
            <th>
                Дата увольнения
            </th>
            
        </tr>
    </thead>
    @{
        foreach (var item in Model.getAllStaff)
        {

            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                    @Html.DisplayFor(modelItem => item.middle_name)
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.birth_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    }
</table>
